<div class="panel">
  <div class="form-inline">
    <mat-form-field color="accent">
      <mat-label>Inherited calendar color</mat-label>
      <input matInput [matDatepicker]="startPicker" placeholder="Choose a date" [(ngModel)]="startDate">
      <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
      <mat-datepicker #startPicker [(ngModel)]="startDate" ngDefaultControl (selectedChanged)="onStartDate($event)"></mat-datepicker>
    </mat-form-field>

    <mat-form-field color="accent">
      <mat-label>Custom calendar color</mat-label>
      <input matInput [matDatepicker]="endPicker" placeholder="Choose a date" [(ngModel)]="endDate">
      <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
      <mat-datepicker #endPicker color="primary" [(ngModel)]="endDate" ngDefaultControl (selectedChanged)="onEndDate($event)"></mat-datepicker>
    </mat-form-field>

    <div class="form-group">
      <div class="col-md-offset-2 col-md-8">
        <button class="btn btn-default" (click)="download()">Save csv</button>
      </div>
    </div>
  </div>
  <div class="panel">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>time</th>
          <th>exchange</th>
          <th>pair</th>
          <th>price</th>
          <th>volume</th>
          <th>type order</th>
          <th>id order</th>
          <th>fee</th>
          <th>deviation</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders">
          <td>{{order.time | date: 'mediumTime'}}</td>
          <td>{{order.exchange}}</td>
          <td>{{order.pair}}</td>
          <td>{{order.price}}</td>
          <td>{{order.volume}}</td>
          <td>{{order.typeOrder}}</td>
          <td>{{order.arbitrageId}}</td>
          <td>{{order.fee}}</td>
          <td>{{order.deviationPrice}}</td>
        </tr>
      </tbody>
    </table>
  </div>
