<div class="panel">
    <div class="form-inline"> 
      <mat-form-field color="accent">
          <input type="text" matInput
          ngxDaterangepickerMd
          [locale]="{applyLabel: 'ok', format: 'DD-MM-YYYY'}"
          startKey="start"
          endKey="end"
          [(ngModel)]="selected"
          name="daterange" /> 
      </mat-form-field> 
          <input  #input maxlength="4" placeholder="Enter asset name (ETH)" [(ngModel)]="asset" > 
      <div class="form-group">
        <div class="col-md-offset-2 col-md-8">
          <button class="btn btn-default" (click)="download()">Save csv</button>
        </div>
      </div>
    </div>
</div>