
<mat-table  [dataSource]="dataSourceBidAsk" class="lessons-table mat-elevation-z8">
   <!-- Checkbox Column -->
   <ng-container matColumnDef="spreadExchange">
    <mat-header-cell *matHeaderCellDef>spreadExchange</mat-header-cell>
    <mat-cell *matCellDef="let item">{{item.compareExchanges}}</mat-cell>
</ng-container>

<ng-container matColumnDef="pair">
    <mat-header-cell *matHeaderCellDef>pair</mat-header-cell>
    <mat-cell class="description-cell"
              *matCellDef="let item">{{item.pair}}</mat-cell>

</ng-container>

<ng-container matColumnDef="spread">
    <mat-header-cell *matHeaderCellDef>spread %</mat-header-cell>
    <mat-cell class="duration-cell"
              *matCellDef="let item">{{item.spread * 100}}</mat-cell>
</ng-container>

<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

<mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

</mat-table>


<mat-table  [dataSource]="dataSourceAskBid" class="lessons-table mat-elevation-z8">
    <!-- Checkbox Column -->
    <ng-container matColumnDef="spreadExchange">
     <mat-header-cell *matHeaderCellDef>spreadExchange</mat-header-cell>
     <mat-cell *matCellDef="let item">{{item.compareExchanges}}</mat-cell>
 </ng-container>
 
 <ng-container matColumnDef="pair">
     <mat-header-cell *matHeaderCellDef>pair</mat-header-cell>
     <mat-cell class="description-cell"
               *matCellDef="let item">{{item.pair}}</mat-cell>
 
 </ng-container>
 
 <ng-container matColumnDef="spread">
     <mat-header-cell *matHeaderCellDef>spread %</mat-header-cell>
     <mat-cell class="duration-cell"
               *matCellDef="let item">{{item.spread * 100}}</mat-cell>
 </ng-container>
 
 <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
 
 <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
 
 </mat-table>